* {box-sizing:border-box}

body
{
  background: linear-gradient(124deg, rgb(63, 4, 88) 0%, rgb(114, 11, 224) 51%, rgba(0,212,255,1) 100%);
  font-family: "Lucida Console", "Courier New", monospace !important;
}

.icon
{
  font-size: 34px;
}

.neonLetter
{
  position: absolute;
  left: 13%;
  top: 20%;

}

.neonLetterRight
{
  position: absolute;
  right: 13%;
  top: 20%;
}

h3
{
  font-family: 'Press Start 2P', cursive;
  font-size: 60px !important;
  text-align: center;
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px rgb(255, 0, 255),
  0 0 82px rgb(255, 0, 255),
  0 0 92px rgb(255, 0, 255),
  0 0 102px rgb(255, 0, 255),
  0 0 151px rgb(255, 0, 255);
}




.neonTextTitle {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 0, 255),
      0 0 82px rgb(255, 0, 255),
      0 0 92px rgb(255, 0, 255),
      0 0 102px rgb(255, 0, 255),
      0 0 151px rgb(255, 0, 255);
}

/* Slideshow container */
.slideshow-container {
  color: rgb(5, 213, 255);
  max-width: 600px;
  margin: auto;
  margin-top: 6%;
  padding: 1%;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
  border-radius: 15px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.img{
  border-radius: 15px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: rgb(156, 237, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(255, 0, 225, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.textcontainer
{
  color: rgb(5, 213, 255);
  max-width: 600px;
  margin: 5% auto;
  padding: 1%;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
  border-radius: 15px;
}

.cigarrons
{
  max-width: 350px;
  border-radius: 15px 70px;
  box-shadow: 0 0 .2rem #fff,
  0 0 2rem #00fff7,
  inset 0 0 1.3rem #00fff7;
  margin-bottom: 2%;
}

.ruinas{
  max-width: 250px;
  border-radius: 15px 70px;
  box-shadow: 0 0 .2rem #fff,
  0 0 2rem #00fff7,
  inset 0 0 1.3rem #00fff7;
  margin-bottom: 2%;
}

.imgInverse{
  max-width: 250px;
  border-radius: 70px 15px;
  box-shadow: 0 0 .2rem #fff,
  0 0 2rem #00fff7,
  inset 0 0 1.3rem #00fff7;
  margin-bottom: 2%;
}

.carnaval{
  border-radius: 15px;
  max-width: 300px;
  margin: 2%;
  box-shadow: 0 0 .2rem #dca0f4,
  0 0 .2rem #dca0f4,
  0 0 2rem #00eeff,
  0 0 0.8rem #00eeff,
  
  inset 0 0 0.5rem #00eeff;
}

.dates{
  margin-top: 4%;
}
.poster
{
  border-radius: 15px;
  max-width: 600px;
  margin: 2%;
  box-shadow: 0 0 .2rem #ffffff,
  0 0 .2rem #ffffff,
  0 0 2rem #ffffff,
  0 0 0.8rem #ffffff,

  inset 0 0 1em #ffffff;
}

.footer
{
  color: rgb(255, 255, 255);
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 255, 51),
      0 0 82px rgb(0, 255, 51),
      0 0 92px rgb(0, 255, 51),
      0 0 102px rgb(0, 255, 51),
      0 0 151px rgb(0, 255, 51);
}

.underline-with-movement {
  text-decoration: none;
  background: 
  linear-gradient(to right, rgb(253, 107, 217), rgb(222, 19, 171)),
  linear-gradient(to right, rgb(255, 122, 222), rgb(255, 70, 209), rgb(203, 32, 255));
background-size: 100% 0.1em, 0 0.1em;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 400ms;
}
.underline-with-movement:hover,
.underline-with-movement:focus{
  background-size: 0 0.1em, 100% 0.1em;
}


@media (max-width: 757px) 
{ 
  .neonLetter
  {
    display: none;
  }
  .neonLetterRight
  {
    display: none;
  }
  .slideshow-container
  {
    margin-top: 30%;
  }

  .imgInverse
{
  display: none;
}
}

@media (max-width: 1042px) 
{ 
  .neonLetter
  {
    left: 4%;
  }
  h3
{
  font-size: 40px !important;

}
.neonLetterRight
{
  display: none;
}

.slideshow-container
  {
    margin-top: 10%;
  }

  .imgInverse
  {
    display: none;
  }
}
