* {box-sizing:border-box}

body
{
  background: linear-gradient(124deg, rgb(63, 4, 88) 0%, rgb(114, 11, 224) 51%, rgba(0,212,255,1) 100%);
  font-family: "Lucida Console", "Courier New", monospace !important;
}

.icon
{
  font-size: 34px;
}

.neonTextTitle {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 0, 255),
      0 0 82px rgb(255, 0, 255),
      0 0 92px rgb(255, 0, 255),
      0 0 102px rgb(255, 0, 255),
      0 0 151px rgb(255, 0, 255);
}

/* Slideshow container */
.slideshow-container {
  color: rgb(5, 213, 255);
  max-width: 600px;
  margin: auto;
  margin-top: 6%;
  padding: 1%;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
  border-radius: 15px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: rgb(156, 237, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(255, 0, 225, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.textcontainer
{
  color: rgb(5, 213, 255);
  max-width: 600px;
  margin: 5% auto;
  padding: 1%;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
  border-radius: 15px;
}